# ===========================================
# CrewAI Herbal Article Creator Configuration
# ===========================================
OUTPUT_LANG=en #en,th

LLM_MODEL_NAME="llama"
#LLM_MODEL_NAME="gemini"
#LLM_MODEL_NAME="gpt"
#LLM_MODEL_NAME="anthropic"

LLM_TEMPERATURE="0.6"       #It is a parameter that controls the level of randomness in generating the next word.
LLM_TOP_P="0.9"             #It is a parameter used to filter possible words by selecting those whose cumulative probability adds up to the specified top_p value.
LLM_MAX_TOKENS="8192"       #Maximum number of tokens to generate in the response. The total length of input tokens and generated tokens should not exceed the model's context length. (0, 1024, 2048, 4096, 8192, 16384, 32768)

# --- LLM LLAMA (Nvidia) ---
LLM_MODEL="meta/llama-3.3-70b-instruct"     #standard model
LLM_API_KEY=nvapi-xxx

#LLM_LLAMA_MODEL="meta/llama-3.2-1b-instruct"
#LLM_LLAMA_MODEL="meta/llama-3.2-3b-instruct"
#LLM_LLAMA_MODEL="meta/llama-3.1-8b-instruct"
#LLM_LLAMA_MODEL="meta/llama-3.1-405b-instruct"
LLM_LLAMA_MODEL="meta/llama-3.1-70b-instruct"
NVIDIA_NIM_API_KEY=nvapi-xxx
LLM_PROVIDER=
LLM_API_BASE=https://integrate.api.nvidia.com/v1

# --- LLM GEMINI Configuration ---
#LLM_GEMINI_MODEL="gemini/gemini-1.5-flash"
#LLM_GEMINI_MODEL="gemini/gemini-1.5-pro"
LLM_GEMINI_MODEL="gemini/gemini-2.0-flash"
#LLM_GEMINI_MODEL="gemini/gemini-2.0-pro"
#LLM_GEMINI_MODEL="gemini/gemini-2.5-flash"
#LLM_GEMINI_MODEL="gemini/gemini-2.5-pro"
GEMINI_API_KEY=AIxxx

# --- LLM GPT Configuration ---
#LLM_GPT_MODEL="gpt-4o"
LLM_GPT_MODEL="gpt-4o-mini"
#LLM_GPT_MODEL="gpt-4.1"
#LLM_GPT_MODEL="gpt-4.1-mini"
#LLM_GPT_MODEL="gpt-4.1-nano"
OPENAI_API_KEY=ab-proj-xxx

# --- LLM Anthropic Configuration ---
LLM_CLAUDE_MODEL="claude-3-7-sonnet-latest"
ANTHROPIC_API_KEY=ab-ant-api03-xxx

#--- Pubmed --- 
NCBI_API_KEY=xxx
PUBMED_CONTACT_EMAIL="abc@gmail.com"
PUBMED_POLITE_DELAY="0.2"

#--- Tavily Search --- 
TAVILY_API_KEY="tvly-dev-xxx"

#--- Research Topics --- 
#HERBS_FOR_RESEARCH="กระชาย"
HERBS_FOR_RESEARCH="ขมิ้นชัน"
#HERBS_FOR_RESEARCH="กระแจะ"
#HERBS_FOR_RESEARCH="ว่านหางจระเข้"
#HERBS_FOR_RESEARCH="กวาวเครือ"
#HERBS_FOR_RESEARCH="ทองพันชั่ง"
#HERBS_FOR_RESEARCH="ฟักข้าว"
#HERBS_FOR_RESEARCH="มะคำดีควำย"
#HERBS_FOR_RESEARCH="มะหาด"
#HERBS_FOR_RESEARCH="ย่านาง"
#HERBS_FOR_RESEARCH="ส้มป่อย"
็#HERBS_FOR_RESEARCH="สมอไทย"
#HERBS_FOR_RESEARCH="สมอพิเภก"
#HERBS_FOR_RESEARCH="มะขามป้อม"
#HERBS_FOR_RESEARCH="บอระเพ็ด"
#HERBS_FOR_RESEARCH="หญ้าหนวดแมว"
#HERBS_FOR_RESEARCH="ฟ้าทะลายโจร"
#HERBS_FOR_RESEARCH="ชุมเห็ดไทย"
#HERBS_FOR_RESEARCH="อัญชัน"
#HERBS_FOR_RESEARCH="มะรุม"
#HERBS_FOR_RESEARCH="ใบแปะก๊วย"
#HERBS_FOR_RESEARCH="ขิง"
#HERBS_FOR_RESEARCH="ตะไคร้"
#HERBS_FOR_RESEARCH="ใบหม่อน"
#HERBS_FOR_RESEARCH="ชาเขียว"
#HERBS_FOR_RESEARCH="ข่า"
#HERBS_FOR_RESEARCH="พลูคาว"
#HERBS_FOR_RESEARCH="กระเทียม"
#HERBS_FOR_RESEARCH="พริก"
#HERBS_FOR_RESEARCH="อบเชย"
#HERBS_FOR_RESEARCH="กานพลู"
#HERBS_FOR_RESEARCH="โสม"
#HERBS_FOR_RESEARCH="เห็ดหลินจือ"
#HERBS_FOR_RESEARCH="เห็ดไมตาเกะ"
#HERBS_FOR_RESEARCH="เห็ดชิตาเกะ"
#HERBS_FOR_RESEARCH="เห็ดถั่งเช่า"
#HERBS_FOR_RESEARCH="เห็ดหูหนูดำ"
#HERBS_FOR_RESEARCH="เห็ดหูหนูขาว"
#HERBS_FOR_RESEARCH="เห็ดนางฟ้า"
#HERBS_FOR_RESEARCH="เห็ดฟาง"
#HERBS_FOR_RESEARCH="เห็ดเข็มทอง"

# --- Research Tools ---
RESEARCH_MAX_CALLS="6"

# --- Google API (for Gemini Embeddings) ---
GOOGLE_API_KEY=AIxxx

# ===========================================
# PINECONE VECTOR DATABASE CONFIGURATION
# ===========================================

# Pinecone API credentials
PINECONE_API_KEY=pcab_xxx
PINECONE_INDEX_NAME=herbalindex
PINECONE_NAMESPACE="__default__"

# Embedding model configuration
PINECONE_EMBED_MODEL=text-embedding-004
PINECONE_DIMENSION=768

# Search parameters
PINECONE_TOP_K=5  #The model filters the list of possible words down to only the top K most probable ones, and then randomly selects from within this group only.
PINECONE_SNIPPET_LIMIT=240
PINECONE_TOTAL_LIMIT=6000

# Context building
PINECONE_BUILD_INITIAL_CONTEXT=true
PINECONE_CONTEXT_TOP_K=20
PINECONE_CONTEXT_MAX_CHARS=8000

# ===========================================
# Google Drive authrorize
# ===========================================
GOOGLE_FOLDER_ID="" #read pdf
#authrorize google drive with convert service_account.json
GOOGLE_SERVICE_ACCOUNT_JSON_PATH="data/credentials/gdrive_service_account.json"
#authrorize google drive with convert service_account.json -> base64 string
GOOGLE_SERVICE_ACCOUNT_JSON_B64=""

# ===========================================
# Google Drive upload file
# ===========================================
GDRIVE_UPLOAD_FOLDER_ID = ""
GDRIVE_CLIENT_SECRET_PATH="data/credentials/client_secrete_gdrive_desktop.json"